<%- include('./partials/header.ejs') %>
<%- include('./partials/homenavbar.ejs') %>
<body>
    <div class="container">
        <div class="jumbotron">
            <hr>
            <h1 class="display-4">Bem vindo!</h1>
            <p class="lead">Este é um simple blog sobre programação</p>
            <hr class="my-4">
            <p>descrição aqui</p>
            <a href="#" class="btn btn-primary btn-lg">Leia mais</a>
        </div>
    </div>
    <div class="container">
        <hr>
        <% articles.forEach(article => { %>
           <div class="card">
            <div class="card-header">
                <h2><%= article.title %></h2>
            </div>
            <card class="card-body">
                <a href="#" class="btn btn-success">Ler artigo</a>
            </card>
           </div>
           <br>
        <% }) %>
    </div>
</body>

<%- include('./partials/footer.ejs') %>