<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>
<body>
    <div class="container">
        <hr>
        <div class="jumbotron">
            <h1 class="display-4">Bem vindo</h1>
            <p class="lead">Este é um simples blog sobre programação</p>
            <hr class="my-4">
            <p>Este blog tem o intuito de ajudar desenvolvedores a tirarem sua duvidas e trocarem experiencia...</p>
            <a href="#" class="btn btn-primary btn-lg" role="button">Leia mais</a>
        </div>
        <hr>
    </div>
</body>

<%- include('./partials/footer.ejs') %>